<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>桌游管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        nav {
            font-size: 1.25rem;
            background-color: #0F4C81;
            background-image: linear-gradient(0deg, #0F4C81 100%, #0F4C81 100%);
        }
        h1 {
            font-size: 2rem;
            color: white;
        }
        li {
            margin: 10px 20px;
        }
        th {
            width: 100px;
        }
        label {
            margin: auto;
            padding-right: 20px;
        }
        .input-group {
            margin-bottom: 10px;
        }
        body {
            background-color: DEE0E3;
            background-size: cover;
            background-image: linear-gradient(0deg, #DEE0E3 100%, #DEE0E3 100%);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li>
            <h1><a th:href="@{/}" style="color: white; text-decoration: none">桌游管理系统</a></h1>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/admin/Board/getAll}">桌游管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/Player/getAll}">用户管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/record/getAll}">借还管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/Notification/getAll}">通知管理</a>
        </li>
    </ul>
    <div class="text-white" style="font-size: medium; position: absolute; bottom: 30px; right: 40px">
        <div class="dropdown">
            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               th:text="${session.name}+', 您好'">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{/user/toInfoPage}" sec:authorize="hasRole('USER')">个人信息</a>
                <a class="dropdown-item" th:href="@{/toChPwdPage}">修改密码</a>
                <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <form th:action="@{/admin/Board/update}" method="post">
        <input type="text" hidden name="BoardId" th:value="${Board.getBoardId()}">
        <br>
        <div class="input-group">
            <label for="name">桌游名称</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${Board.getName()}" maxlength="50" required>
        </div>
        <br>
        <div class="input-group">
            <label for="Category">类别</label>
            <input type="text" class="form-control" id="Category" name="Category" th:value="${Board.getCategory()}" maxlength="30" required>
        </div>
        <br>
        <div class="input-group">
            <label for="PlayerCount">游玩人数</label>
            <input type="text" class="form-control" id="PlayerCount" name="PlayerCount" th:value="${Board.getPlayerCount()}" maxlength="13" required>
        </div>
        <br>
        <div class="input-group">
            <label for="Introduction">简介</label>
            <textarea class="form-control" id="Introduction" name="Introduction" th:text="${Board.getIntroduction()}" maxlength="255"></textarea>
        </div>
        <br>
        <div class="input-group">
            <label for="StoreLocation">存储位置</label>
            <input type="text" class="form-control" id="StoreLocation" name="StoreLocation" th:value="${Board.getStoreLocation()}" maxlength="50" required>
        </div>
        <br>
        <span class="input-group" display="table-cell" vertical-align="middle">
            <div width="50px"><label>状态</label></div>
            <tr width="20px">
                <div>
                <label for="State0">可用</label>
                </div>
            </tr>
            <tr width="20px">
                <div>
                <input type="radio" name="State" id="State0" value="1" checked="checked">
                </div>
            </tr>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <tr width="30px">
                <div>
                <label for="State1">已借出</label>
                </div>
            </tr>
            <tr width="20px">
                <div>
                <input type="radio" name="State" id="State1" value="0">
                </div>
            </tr>
        </span>
        <br>
        <input type="submit" value="提    交" class="btn btn-primary btn-lg">
        <a th:href="@{/admin/Board/getAll}" class="btn btn-secondary btn-lg" style="margin-left: 40px">取&nbsp;&nbsp;&nbsp;&nbsp;消</a>
    </form>

</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>