<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:background="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>桌游管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        nav {
            font-size: 1.25rem;
            background-color: #0F4C81;
            background-image: linear-gradient(0deg, #0F4C81 100%, #0F4C81 100%);
        }
        h1 {
            font-size: 2rem;
        }
        li {
            margin: 10px 20px;
        }
        body {
            background-image: url("/img/1.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav" sec:authorize="hasRole('ADMIN')">
            <li>
                <h1><a th:href="@{/}" style="color: white; text-decoration: none">桌游管理系统</a></h1>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/Board/getAll}">桌游管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/Player/getAll}">用户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/record/getAll}">借还管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/Notification/getAll}">通知管理</a>
            </li>
        </ul>

        <ul class="navbar-nav" sec:authorize="hasRole('USER')">
            <li>
                <h1><a th:href="@{/}" style="color: white; text-decoration: none">桌游管理系统</a></h1>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/Board/getAll}">桌游信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/record/getOwnRecord}">借用记录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/Notification/getOwnNotification}">我的提醒</a>
            </li>
        </ul>
        <div class="text-white" style="font-size: medium; position: absolute; bottom: 30px; right: 40px">
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        th:text="${session.name}+', 您好'">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:href="@{/user/toInfoPage}" sec:authorize="hasRole('USER')">个人信息</a>
                    <a class="dropdown-item" th:href="@{/toChPwdPage}">修改密码</a>
                    <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="card bg-light" style="margin: 135px 100px; width: 300px">
        <div class="card-header">
            <h5>欢迎使用桌游管理系统</h5>
        </div>
        <div class="card-body">
            <p style="margin: 0px 10px;">
                <div>
                <a th:text="${session.name}"></a>, 您好！<br>
                </div>
                <br>
                <a sec:authorize="hasRole('USER')">
                <div>请前往"我的提醒"查看新提醒</div>
                </a>
            </p>
        </div>
    </div>


<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>