<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /*html, body {*/
        /*    height: 100%;*/
        /*}*/
        html, body {
            height: 100%;
        }
        .box1 {
            width: 60%;
            margin-top: 60px;
        }
        .box2 {
            margin: 120px auto;
        }
        body {
            background-image: url("/img/2.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="card bg-light" style="height:320px; width:300px; margin:100px 400px;" >
    <div class="card-header" style="margin-left:40px margin-bottom: 40px"><h5>欢迎使用桌游管理系统</h5></div>
    <div>
        <a style="margin:10px 30px;height:10px" class="btn btn-link" disabled="true">没有账号？</a><a th:href="@{/toRegisterPage}" class="btn btn-link" style="margin:10px 0px;height:5px">立即注册</a>
        <form th:action="@{/login}" method="post">
            <div class="form-group" style="margin:5px">
                <label for="username" class="" style="margin:0px"></label>
                <input type="text" onkeyup="this.value=this.value.replace(/[^\w\.\/]/ig,'')" class="form-control" id="username" name="username" placeholder="用户名" maxlength="255" style="width:240px;margin:0px 30px">
            </div>
            <div class="form-group" style="margin:5px">
                <label for="password" class="" style="margin:0px"></label>
                <input type="password" class="form-control" id="password" placeholder="密码" name="password" maxlength="32" style="width:240px;margin:0px 30px">
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" style="margin:15px 105px">
        </form>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>