<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utbm.Boardmanager.mapper.BoardMapper">
    <select id="getAllBoard" resultType="Board">
        select * from Board_info;
    </select>

    <select id="getBoardById" resultType="Board">
        select * from Board_info where Board_id = #{id}
    </select>

    <update id="updateBoard" parameterType="Board">
        update Board_info
        set name = #{name}, Category = #{Category}, PlayerCount = #{PlayerCount},
            Introduction = #{Introduction}, StoreLocation = #{StoreLocation}, state = #{state}
        where Board_id = #{BoardId}
    </update>

    <update id="SetBorrowed" parameterType="Board">
        update Board_info
        set state = 0
        where Board_id = #{BoardId}
    </update>

    <update id="SetReturned" parameterType="Board">
        update Board_info
        set state = 1
        where Board_id = #{BoardId}
    </update>

    <delete id="deleteBoard">
        delete from Board_info where Board_id = #{id}
    </delete>

    <insert id="addBoard" parameterType="Board">
        insert into Board_info values (null, #{name}, #{Category}, #{PlayerCount}, #{Introduction},
                                      #{StoreLocation}, #{State})
    </insert>

    <select id="searchBoard" resultType="Board">
        select * from Board_info where name like '%${keyword}%' or
        Category like '%${keyword}%'
    </select>
</mapper>