<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utbm.Boardmanager.mapper.RecordMapper">
    <select id="getAllRecord" resultType="Record">
        select * from lend_list
    </select>

    <select id="getOwnRecord" resultType="Record">
        select * from lend_list where Player_id = #{PlayerId}
    </select>

    <select id="getRecordbySernum" resultType="Record">
        select * from lend_list where sernum = #{sernum}
    </select>

    <insert id="addRecord" parameterType="Record">
        insert into lend_list values (null, #{BoardId}, #{PlayerId}, #{lendDate}, #{backDate},0)
        <selectKey keyProperty="sernum" order="AFTER" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="delRecord" parameterType="Record">
        delete from lend_list where sernum=#{sernum}
    </delete>

    <update id="updateRecord" parameterType="Record">
        update lend_list
        set back_date=#{backDate},State=#{State}
        where sernum = #{sernum}
    </update>

    <update id="updateBackTime">
        update lend_list set back_date = #{backtime} where sernum = #{sernum}
    </update>
</mapper>